.header__lang-link {
    max-width: 30px;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    text-align: right;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 18px;
    transition: opacity 2s ease;
}

.header__lang-link:first-of-type {
    text-decoration-line: underline;
}

.header__lang-link:hover {
    opacity: .8;
}

.header__lang-link:last-of-type {
    margin-right: 0;
}

@media screen and (max-width: 568px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}