.header__lang-link {
    max-width: 30px;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    text-align: right;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 18px;
    transition: opacity 2s ease;
}

.header__lang-link:last-of-type {
    margin-right: 0;
}

.header__lang-link:hover {
    text-decoration-line: underline;
    opacity: .3;
}

.header__lang-link:active {
    text-decoration-line: underline;
}