.content__intro {    
    margin-left: 148px;
    margin-right: 442px;
    margin-bottom: 92px;
}    

@media screen and (max-width: 1140px) {
    .content__introt {
        margin-left: 48px;
        margin-right: 286px;
    }    
}

@media screen and (max-width: 984px) {
    .content__intro {
        margin-left: 24px;
        margin-right: 24px;
        margin-bottom: 88px;
    }    
}

@media screen and (max-width: 568px) {
    .content__intro {
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 64px;
    }    
}