.page__item {
    margin-top: 57px;
    margin-bottom: 92px;
}

@media screen and (max-width: 1140px) {
    .page__item {
        margin-top: 48px;
    }
}

@media screen and (max-width: 984px) {
    .page__item {
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 568px) {
    .page__item {
        margin-bottom: 64px;
    }
}