.place__url-heading {
    max-width: 456px;
    margin: 0 0 12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #AAAAAA;
    text-transform: uppercase;
}

@media screen and (max-width: 984px) {
    .place__url-heading{
        max-width: 352px;
    }
}

@media screen and (max-width: 568px) {
    .place__url-heading{
        max-width: 288px;
    }
}